#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: left;
}

.nav-list{
    display: flex;
    flex-direction: column;
}